a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFF078;
}

nav {
  background-color:#E90074 ;
  display: flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-items {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  color: black;
  transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}

.nav-items:hover {
  background-color: 000000;
  color: #E90074;
}

footer {
  margin-top: 20px;
  background-color: #E90074;
  padding: 2px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;

}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.product-items {
  background-color: #FF4191;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 30px;
  transition: box-shadow 450ms ease-in-out;
  cursor: pointer;
}
.image-container {
  display: flex;
  justify-content: center;
}

.product-items img {
  border-radius: 5px;
  width: 100%;
}
